h1{
    padding: 10px;
    font-size: 50px;
    color:pink;
    text-align: center;
    text-shadow: 1px 0px 2px black;
}
h3{
    padding-top: 15px;
    color: pink;
    text-shadow: 1px 0px 1px darkblue;
}
html{
    background-color: white;
    font-family: "Open Sans", sans-serif;
}
body{
    width: 700px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: rgb(96, 122, 240);
    border: 2px black;
}
p {
    margin: 10px;
    color:aliceblue;
}
ul{
    border: 1px black;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: beige;
}